body, html {
  height: 100%;
}

.bg {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/18/home-office-1867761_960_720.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    
    background: url(https://cdn.pixabay.com/photo/2016/11/29/06/18/home-office-1867761_960_720.jpg) fixed center no-repeat;
    height: 100%;
    background-size: cover;
}